.stats-card{

    padding:1.5rem;

    display:flex;
    flex-direction:column;

    justify-content:space-between;

    min-height:170px;
}

/* ---------- Top ---------- */

.stats-top{

    display:flex;
    justify-content:flex-end;
}

.stats-icon{

    width:52px;
    height:52px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:14px;

    background:rgba(91,75,219,.12);

    color:var(--primary);

    font-size:1.5rem;
}

/* ---------- Content ---------- */

.stats-content{

    display:flex;
    flex-direction:column;
    gap:.4rem;

    margin-top:1rem;
}

.stats-card h2{

    font-size:2rem;
    font-weight:700;

    color:var(--text-primary);
}

.stats-card p{

    color:var(--text-secondary);

    font-size:.95rem;
}

.stats-card small{

    margin-top:.5rem;

    color:var(--success);

    font-weight:600;
}

/* ---------- Hover ---------- */

.stats-card:hover .stats-icon{

    background:var(--primary);

    color:white;

    transition:.25s;
}